/*right*/
.ocrext-preserve-whitespace {
  white-space: pre;
}
.container {
  color: #757575;
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 16px;
  font-variant: normal;
}
.container h1.title {
  text-align: center;
  margin-bottom: 10px;
  padding: 15px;
  border-bottom: 4px solid #2196f3;
  width: 60%;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
.container p.placeholder {
  font-size: 18px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}
.container p.placeholder.notify {
  color: #ff5252;
}
